<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza</title>
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='Components.mjs') }}"></script>


    {% if components %}
    <div>{{ components }}</div>
    <p-comp json="{{ components }}"></p-comp>
    {% endif %}
</body>
</html>
