<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza - products</title>
</head>
<body>

<h1>Add product</h1>
<form method="POST">
	<input type="text" name="name" placeholder="product name">
	<input type="text" name="url" placeholder="product url">
	<input type="submit" value="Add">
</form>

{% if productsList %}
<div>
	{% for product in productsList %}
	<p>{{ product.name }}</p>
	<form method="POST" action="./update">
    	<input type="hidden" value="{{product.name}}" name="oldname">
    	<input type="text" value="{{product.name}}" name="newname">
    	<input type="submit" value="Update">
	</form>
	<form method="POST" action="./delete">
		<input type="hidden" value="{{product.name}}" name="name">
		<input type="submit" value="Delete">
	</form>
	{% endfor %}
</div>
{% else %}
<p>No products are available.</p>
{% endif %}
