<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza</title>
</head>
<body>
{% if product %}
<div>
	<p>{{ product.name }}{{ product.url }}</p>
</div>
{% else %}
<p>No products found.</p>
{% endif %}
</body>
</html>
