<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza</title>
</head>
<body>
<h1>Delete recipe</h1>
<form method="POST">
    {% if recipesList %}
    <select name="recipes">
        {% for recipe in recipesList %}
        <option value="{{ recipe.name }}">{{ recipe.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
	<input type="submit" value="Delete">
</form>
</body>
</html>
