<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza</title>
</head>
<body>
{% if recipesList %}
<div>
	{% for recipe in recipesList %}
	<p>{{ recipe.name }} - {{ recipe.url }}</p>
	{% endfor %}
</div>
{% else %}
<p>No recipes found.</p>
{% endif %}
</body>
</html>
