<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platza</title>
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='PRecipeForm.js') }}"></script>

    <p-recipe-form></p-recipe-form>
<!-- <h1>Add recipe</h1>
<form method="POST">
	<input type="text" name="name" placeholder="recipe name">
	<input type="text" name="url" placeholder="recipe url">
    {% if productsList %}
    <select name="products">
        {% for product in productsList %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="unit" placeholder="unit">
    {% endif %}
    <input type="text" name="step" placeholder="step">
    <input type="text" name="action" placeholder="action">
	<input type="submit" value="Add">
</form> -->
</body>
</html>
